.cencabezado {
	background: #eee;
	border-top: 1px solid #fff;
	width: 100%;
	display: block;  
	margin: 0px auto; 
	padding: 15px; 
	text-align: center; 
	-moz-border-radius: 10px; 
  	-webkit-border-radius: 10px; 
  	border-radius: 10px;
}
.cencabezado .cencdos {
	font:bold 16px fuenteagenda, verdana, sans-serif;
	text-align: center;
	padding: 0;
	width:100%;
	background: url(calendario1/images/header-bg.png) repeat-x;
}
.choras{
	width:15%;
	background-color:#09C;
	color:#FFF;
	border-style:inherit;
	font-weight:bold;
	text-align: center;
	-moz-border-radius: 3px; 
  	-webkit-border-radius: 3px; 
 	border-radius: 3px;
	 box-shadow: 0 0 2px #666;
    -webkit-box-shadow: 0 0 2px #666;
    -moz-box-shadow: 0 0 2px #666;
}
.cminutos{
	width:7%;
	font-size:14px;
	background-color:0ac;
	text-align: center;
		border-style:inherit;
	-moz-border-radius: 2px; 
  	-webkit-border-radius: 2px; 
 	border-radius: 2px;
	box-shadow: 0 0 2px #aaa;
    -webkit-box-shadow: 0 0 2px #aaa;
    -moz-box-shadow: 0 0 2px #aaa;
}
.cmensaje{
	width: 100%;
	background-color:#ffe;
	text-align: center;
	-moz-border-radius: 2px; 
  	-webkit-border-radius: 2px; 
 	border-radius: 2px;
}
.cmensaje2{
	width: 100%;
	background-color:#ffe;
	border: 1px solid #666666;
	text-align: center;
	margin-top: 30px;
  	-webkit-border-radius: 2px; 
 	border-radius: 2px;
	box-shadow: 0 0 3px #222;
	-moz-box-shadow: 0 0 3px #222;
	font: 12px Geneva, Arial, Helvetica, sans-serif;
}
.tmensajes {
	margin:=0;
	padding:=0;
}
.cuerpomensaje{
	background-color:#99bbcc;
	background-repeat:no-repeat;
   	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; 
}
.marcomensaje{
	width: 100%;
	background-color:#eee; 
	border: 1px solid #666666;  
    float: right;
    padding: 6 0 6 10px; 
	text-align: center;
	margin-top: 30px;
	font: 14px Geneva, Arial, Helvetica, sans-serif;
	height:80%;
	-moz-border-radius: 3px; 
  	-webkit-border-radius: 3px; 
 	border-radius: 3px;
		box-shadow: 0 0 5px #222;
    -webkit-box-shadow: 0 0 5px #222;
    -moz-box-shadow: 0 0 5px #222;
}
.elementosmensaje{
	width:200px;
}
.Listahorasmen{
	width:200px;
}
#event_edit_container, #about {
	display: none;
}
input:focus {
    box-shadow: 0 0 10px #aaa;
    -webkit-box-shadow: 0 0 10px #aaa;
    -moz-box-shadow: 0 0 10px #aaa;
    border:1px solid #567;
    background-color:white;
}
input{
	font-size:12px;
	font-family: Arial, helvetica;
	outline:none;
	transition: all 0.75s ease-in-out;
	-webkit-transition: all 0.75s ease-in-out;
	-moz-transition: all 0.75s ease-in-out;
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border:1px solid rgba(0,0,0, 0.2);
	color:222;
	background-color:eee;
	padding: 3px;
	height:20px;
}
input[type="submit"]{font-family: Tahoma, Verdana, Arial; font-weight:normal; font-size: 13px; color:#222;  background-color:#0066FF;
color:#FFFFFF; border:#CCC; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px
; border-bottom-color:#999999;
height:25px;   }
input[type="button"]{ font-family: Tahoma, Verdana, Arial; font-weight:normal; font-size: 13px; color:#222;  background-color:#0066FF;
color:#FFFFFF; border:#CCC; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px
; border-bottom-color:#999999;
height:25px;   }
input[readonly]  {
background-color:#E6F7FF;
color:#333;
border-color:#ccc;
}

.renglon{
	background-color:#09C;
	color:#FFF;
	font-weight:bold;
	text-align:left;
	margin:1px 1px 1px 1px;	
	border:#eee thin solid;	
	    box-shadow: 0 0 10px #aaa;
    -webkit-box-shadow: 0 0 10px #aaa;
    -moz-box-shadow: 0 0 10px #aaa;

}
.renglon2{
	background-color:#fff;
	margin:1px 1px 1px 1px;	
	border:#eee thin solid;	
}
.titulos{
	text-align:justify;
	background-color:#39C;
	background-image:url(../imagenes/barra-submenu.png);
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#fff;
	height:20px;
	padding-left:2px;    -moz-border-radius: 2px;  
    -webkit-border-radius: 2px;}